@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');

* {
  outline: none;
 
}

strong {
  font-weight: 600;
}

.page {
    width: 100%;
    height: 100vh;
    /* background: white; */
    font-family: 'Encode Sans Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: .03em;
    color: white;
}
/* Logo */
.Logo {
    width: 150px;
  
}
.logo {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: white;
  color: black;
  justify-content: center;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/* main {
  padding: 70px 20px 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  color: white;
}

main > div {
  margin: auto;
  max-width: 600px;
}

main h2 span {
  color: #BF7497;
}

main p {
  line-height: 1.5;
  font-weight: 200;
  margin: 20px 0;
}

main small {
  font-weight: 300;
  color: #888;
} */

#nav-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background:black;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #BF7497;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;
  align-self: center;
}

.small a {
  font-size: 12px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}





/* body  */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}

/* header   */
/* @keyframes animate{
    .header{

   
    0%,100%{
        background-image: url('https://images.pexels.com/photos/6147276/pexels-photo-6147276.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')
    }
    25%{
        background-image: url('https://images.unsplash.com/photo-1620496009285-ac853df7b9b6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80');
    }
    50%{
        background-image: url('https://images-ext-2.discordapp.net/external/7CUIdNwc76mW_I5WNnFg0Bi-AfbLLMOpX_6EoW1FSAo/%3Fixlib%3Drb-4.0.3%26ixid%3DM3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%253D%253D%26auto%3Dformat%26fit%3Dcrop%26w%3D2047%26q%3D80/https/images.unsplash.com/20/cambridge.JPG?width=967&height=662');
    }
    75%{
        background-image: url('https://images.pexels.com/photos/207691/pexels-photo-207691.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    }
}
} */

.header {
    min-height: 100vh;
    width: 100%;
    background-image: url('https://images.unsplash.com/photo-1541829070764-84a7d30dd3f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80');
    background-position: center;
    background-size: cover;
    position: relative;
    
    
    
}
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;

}
h1 {
    font-size: 36px;
    font-weight: 600;
}
.course p {
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;

}
    .row {
        margin-top: 10%;
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
        flex-basis: 200;
    }

    .course-col{
        flex-basis: 28%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        padding: 30px 20px;
        box-sizing: border-box;
        transition: 0.5s;
    }
    h2{
        text-align: center;
        font-weight:600 ;
        margin: 10px 0;
    }

    .course-col:hover{
        box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);

    }

    @media(max-width: 700px){
        .row{
            flex-direction: column;
        }
    }